<% include partials/header %>

<h1>This is the Home Page!!!</h1>

<% if (thingVar.toLowerCase() === 'dog') { %>
    <p>DOGS ARE MY FAVOURITE TOO</p>
<% } %>

<p>PS THIS IS THE HOME.EJS FILE</p>

<% include partials/footer %>
